<h1><%= @repo.full_name %></h1>

<h3>Branches</h3>
<ul class="list-inline">
  <% @branches.each do |branch| %>
    <li>
    <%= branch.name %>
    </li>
  <% end %>
</ul>

<% if @contents.class == Array # It's a tree %>
  <h3><%= params[:content_path] %></h3>
  <div class="list-group">
    <% @contents.each do |content| %>
      <%= link_to content.attrs[:name], contents_path(:login => @repo.owner.login, :repo => @repo.name, :content_path => content.attrs[:path]), :class => 'list-group-item' %>
    <% end %>
  </div>
<% end %>

<% if defined? @contents.type %>
  <% case @contents.type
     when 'file' %>
    <h3><%= @contents.name %></h3>
    <pre>SHA: <%= @contents.sha %></pre>
    <pre>PATH: <%= @contents.path %></pre>
    <pre><%= Base64.decode64 @contents.content %></pre>
    <pre><%= debug @contents %></pre>

    <h3>Commits</h3>
    <ul class="list-group">
      <% @commits.each do |commit| %>
        <li class="list-group-item">
          <img src="<%= "https://secure.gravatar.com/avatar/#{commit.committer.attrs[:gravatar_id]}?s=36&r=x" %>" class="img-rounded pull-left" />
          <%= commit.attrs[:commit].message %>
          <br/>
          Date: <%= commit.attrs[:commit].attrs[:committer].attrs[:date] %>
          <br/>
          User: <%= commit.committer.attrs[:login] %>
          <br/>
        </li>
      <% end %>
    </ul>


  <% when 'symlink' %>
    <p>Sorry, symlinks are not yet handled!</p>
  <% when 'submodule' %>
    <p>Sorry, submodules are not yet handled!</p>
  <% end %>
<% end %>
