<h1><%= @repo.full_name %></h1>

<h3>Branches</h3>
<ul class="list-inline">
  <% @branches.each do |branch| %>
    <li>
    <%= branch.name %>
    </li>
  <% end %>
</ul>

<% if @contents.class == Array # It's a tree %>
  <h3><%= params[:content_path] %></h3>
  <div class="list-group">
    <% @contents.each do |content| %>
      <%= link_to content.attrs[:name], contents_path(:login => @repo.owner.login, :repo => @repo.name, :content_path => content.attrs[:path]), :class => 'list-group-item' %>
    <% end %>
  </div>
<% end %>

<% if defined? @contents.type %>
  <% case @contents.type
     when 'file' %>
    <h3><%= @contents.name %></h3>
    <pre><%= Base64.decode64 @contents.content %></pre>
  <% when 'symlink' %>
    <p>Sorry, symlinks are not yet handled!</p>
  <% when 'submodule' %>
    <p>Sorry, submodules are not yet handled!</p>
  <% end %>
<% end %>
